* {
    box-sizing: border-box
}

body {
    font-family: "Roboto";
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #414453;
    background: #eee
}

p {
    margin: 0 0 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

a,a:visited {
    color: #D82329;
    text-decoration: none
}

a:hover,a:active,a:focus,a:visited:hover,a:visited:active,a:visited:focus {
    color: #c21f25;
    text-decoration: underline
}

.entry-content h1,.entry-content h2,.entry-content h3 {
    margin: 30px 0 15px;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.32143;
    color: #283378
}

.entry-content h1 {
    font-size: 26px;
    font-size: 2.6rem
}

.entry-content h2 {
    font-size: 22px;
    font-size: 2.2rem
}

.entry-content h3 {
    font-size: 18px;
    font-size: 1.8rem
}

input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],textarea {
    margin: 0;
    width: 100%;
    font-family: "Roboto";
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    color: #414453;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e2e2e2;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.1)
}

input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,textarea:focus {
    outline: none;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.25)
}

input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"] {
    padding: 10px 20px 8px
}

textarea {
    padding: 10px 20px 8px;
    width: 100%;
    line-height: 1.5
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700
}

label span {
    color: #A6A8C6 !important
}

.grunion-radio-label {
    font-weight: 400 !important
}

input[type='button'],input[type='submit'],input[type='reset'],button,a .cta-button {
    display: inline-block;
    margin: 0;
    padding: 20px 30px;
    font-family: "Roboto";
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    background: #283378;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px
}

input[type='button']:hover,input[type='button']:active,input[type='button']:focus,input[type='submit']:hover,input[type='submit']:active,input[type='submit']:focus,input[type='reset']:hover,input[type='reset']:active,input[type='reset']:focus,button:hover,button:active,button:focus,a .cta-button:hover,a .cta-button:active,a .cta-button:focus {
    outline-color: #bbb;
    background: #222b65;
    box-shadow: none;
    border: none
}

.entry-content .callout {
    position: relative;
    margin-bottom: 15px;
    padding: 20px;
    background: #283378;
    color: #fff
}

.site-header {
    margin-top: 80px
}

.site-header hgroup {
    display: block;
    padding: 40px 0 100px;
    background: #6DBBE4 url('http://svg.redradar.net/boston-2016/boats.svg') repeat-x center
}

.home .site-header hgroup {
    height: 650px;
    background: #6DBBE4 url('http://svg.redradar.net/boston-2016/header.svg') repeat-x top center
}

.site-title {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 20px;
    width: 289px;
    background: #fff
}

.site-title a {
    display: block;
    width: 249px;
    height: 122px;
    background: url('http://svg.redradar.net/boston-2016/logo.svg') no-repeat center;
    text-indent: -9999em
}

.home .site-title {
    margin: 220px auto 0;
    padding: 30px;
    width: 465px
}

.home .site-title a {
    width: 415px;
    height: 180px
}

@media (max-height: 400px) {
    .home .site-header hgroup {
        height:500px
    }

    .home .site-title {
        margin-top: 70px
    }
}

@media (max-width: 500px) {
    .home .site-title {
        width:90vw
    }

    .home .site-title a {
        width: calc(90vw - 60px);
        height: 39.03614vw
    }
}

.main-navigation,.main-small-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    height: 80px;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px
}

.admin-bar .main-navigation,.admin-bar .main-small-navigation {
    top: 32px
}

@media (max-width: 782px) {
    .admin-bar .main-navigation,.admin-bar .main-small-navigation {
        top:46px
    }
}

.main-navigation a {
    padding: 20px;
    color: #414453;
    text-decoration: none
}

.main-navigation a:hover,.main-navigation a:active,.main-navigation a:focus {
    color: #7C7D8C
}

.main-navigation .callout {
    float: right
}

.main-navigation .callout a {
    margin: 13px 10px;
    padding: 7px 15px;
    border-radius: 3px;
    color: #fff;
    background-color: #D82329
}

.main-navigation .callout a:hover,.main-navigation .callout a:active,.main-navigation .callout a:focus {
    background-color: #c21f25
}

@media (max-width: 900px) {
    .main-navigation .callout {
        display:none
    }
}

.main-navigation ul ul {
    position: absolute;
    top: 80px;
    left: 0;
    float: left;
    padding-bottom: 10px;
    line-height: 1.3;
    box-shadow: none;
    background: #fff
}

.main-navigation ul ul a {
    padding: 10px 20px
}

.main-small-navigation {
    padding: 0;
    z-index: 10
}

.main-small-navigation .menu-toggle {
    padding: 20px;
    text-align: center;
    line-height: 40px
}

.main-small-navigation ul {
    margin: 0;
    padding: 0 20px 20px;
    list-style: none;
    background: #fff
}

.main-small-navigation ul ul {
    padding: 0;
    padding-left: 20px
}

.widget-title {
    font-size: 20px;
    font-size: 2rem;
    font-family: "Roboto Slab";
    margin-bottom: 20px
}

.textwidget .cta-button {
    color: #fff !important;
    background-color: #D82329
}

.textwidget .cta-button:hover,.textwidget .cta-button:active,.textwidget .cta-button:focus {
    background-color: #c21f25
}

.jetpack_subscription_widget p {
    display: inline
}

.jetpack_subscription_widget #subscribe-email input {
    margin-right: -5px;
    padding: 16px 30px 17px;
    width: calc(100% - 170px);
    border-radius: 3px 0 0 3px;
    line-height: 1;
    height: 56px
}

.jetpack_subscription_widget input[type="submit"] {
    border-radius: 0 3px 3px 0
}

@media (max-width: 400px) {
    .jetpack_subscription_widget #subscribe-email input,.jetpack_subscription_widget input[type="submit"] {
        display:block;
        width: 100%;
        border-radius: 3px 3px 0 0
    }

    .jetpack_subscription_widget input[type="submit"] {
        border-radius: 0 0 3px 3px
    }
}

#after-header-widgets {
    font-family: "Roboto Slab";
    margin: -100px auto 0;
    max-width: 1100px
}

#after-header-widgets .widget {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: #414453;
    background: #eee
}

#after-header-widgets .widget p {
    margin: 0
}

#after-header-widgets .widget:nth-of-type(1) {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 80px;
    font-size: 28px;
    font-size: 2.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background: transparent
}

#after-header-widgets .widget:nth-of-type(2),#after-header-widgets .widget:nth-of-type(3) {
    float: left;
    width: 50%
}

@media (max-width: 825px) {
    #after-header-widgets .widget:nth-of-type(2),#after-header-widgets .widget:nth-of-type(3) {
        float:none;
        margin: 0 auto;
        padding: 40px 0;
        max-width: 500px;
        width: 100%
    }

    #after-header-widgets .widget:nth-of-type(2) {
        padding-bottom: 0
    }
}

@media (max-width: 520px) {
    #after-header-widgets .widget:nth-of-type(n) {
        padding-left:20px;
        padding-right: 20px
    }
}

.home #after-header-widgets {
    margin-top: -160px
}

.home #after-header-widgets .widget:nth-of-type(1) {
    margin-top: 60px;
    height: 100px
}

#before-content-widgets {
    background: #fff
}

#before-content-widgets .widget {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1100px;
    text-align: center
}

#secondary {
    background: #F9F9F9
}

#primary-sidebar {
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1100px
}

#primary-sidebar:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both
}

#primary-sidebar .wcb_widget_sponsors {
    margin-left: -10px;
    margin-right: -10px
}

#primary-sidebar .wcb_widget_sponsors .widget-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    font-size: 2.8rem;
    margin: 0 10px 40px;
    text-align: center;
    color: #283378
}

#primary-sidebar .wcb_widget_sponsors .sponsor-level {
    display: inline
}

#primary-sidebar .wcb_widget_sponsors .sponsor-level-title {
    display: none
}

#primary-sidebar .wcb_widget_sponsors .sponsor-logo {
    float: left;
    position: relative;
    margin: 10px;
    width: calc(25% - 20px);
    height: 110px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    overflow: hidden
}

#primary-sidebar .wcb_widget_sponsors .sponsor-logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 80%
}

@media (max-width: 750px) {
    #primary-sidebar .wcb_widget_sponsors .sponsor-logo {
        width:calc(33.33333% - 20px)
    }
}

@media (max-width: 550px) {
    #primary-sidebar .wcb_widget_sponsors .sponsor-logo {
        width:calc(50% - 20px)
    }
}

@media (max-width: 350px) {
    #primary-sidebar .wcb_widget_sponsors .sponsor-logo {
        width:calc(100% - 20px)
    }
}

#footer-widgets {
    background: #eee
}

#footer-widgets:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both
}

#footer-widget-1 {
    margin: 0 auto;
    max-width: 1100px
}

#footer-widget-1 .widget {
    float: left;
    margin: 0;
    padding: 60px 0;
    width: 50%;
    text-align: center;
    color: #414453;
    background: #eee
}

@media (max-width: 825px) {
    #footer-widget-1 .widget {
        float:none;
        margin: 0 auto;
        padding: 40px 0;
        max-width: 500px;
        width: 100%
    }

    #footer-widget-1 .widget + .widget {
        padding-top: 0
    }
}

@media (max-width: 520px) {
    #footer-widget-1 .widget {
        padding-left:20px;
        padding-right: 20px
    }
}

#main {
    clear: both;
    margin: 0 auto
}

.page-header {
    display: none
}

.entry-title {
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.32143;
    color: #D82329
}

#content {
    background: #fff
}

@media (max-width: 740px) {
    #content {
        padding-left:20px;
        padding-right: 20px
    }
}

#content > .hentry {
    position: relative;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 720px;
    background: #fff
}

#content .attachment-post-thumbnail {
    margin: 0 auto;
    padding-top: 50px;
    display: block;
    max-width: 600px;
    height: auto
}

@media (max-width: 640px) {
    #content .attachment-post-thumbnail {
        max-width:100%
    }
}

#content .post-navigation {
    margin: 40px auto;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.32143;
    max-width: 720px
}

@media (max-width: 520px) {
    #content .nav-previous,#content .nav-next {
        float:none;
        width: 100%
    }

    #content .nav-previous + .nav-next {
        margin-top: 20px
    }
}

.home #content {
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    padding-top: 20px;
    overflow-x: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important
}

.home #content:before {
    content: ' ';
    position: absolute;
    margin-top: -20px;
    width: 100%;
    height: 20px;
    background: #eee
}

.home #content .post {
    padding: 40px 40px 46px;
    max-width: 1100px
}

.home #content .post:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -500px;
    right: -500px;
    height: 6px;
    background: #eee
}

.home #content .post:nth-of-type(1) .byline {
    display: block;
    margin: 10px 0
}

.home #content .post:nth-of-type(n+2) .entry-content {
    display: none
}

.home #content .post .entry-meta {
    display: none
}

@media (min-width: 700px) {
    .home #content .post {
        padding:40px 40px 46px 360px
    }

    .home #content .post:nth-of-type(1) {
        min-height: 400px
    }

    .home #content .post:nth-of-type(1) div .entry-meta:after {
        content: ' ';
        position: absolute;
        bottom: -72px;
        left: 0;
        right: 0;
        height: 72px;
        background: url('http://svg.redradar.net/boston-2016/banner-tail.svg')
    }

    .home #content .post:nth-of-type(n+2) footer .entry-meta {
        display: none
    }

    .home #content .post:nth-of-type(n+2) .entry-meta {
        top: -6px;
        padding: 25px 0
    }

    .home #content .post:nth-of-type(n+2) .entry-meta:before {
        right: -6px;
        border-width: 3px
    }

    .home #content .post .entry-meta {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        color: rgba(255,255,255,0.5)
    }

    .home #content .post .entry-meta a {
        display: block;
        font-size: 16px;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0;
        color: #fff
    }

    .home #content .post div .entry-meta {
        position: absolute;
        top: -20px;
        left: 20px;
        padding: 75px 0 120px;
        width: 300px;
        text-align: center;
        background: #283378
    }

    .home #content .post div .entry-meta:before {
        content: ' ';
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #0B1342 #0B1342
    }

    .home #content .post footer .entry-meta {
        position: absolute;
        top: 153px;
        left: 20px;
        margin: 20px 0;
        width: 300px;
        text-align: center
    }

    .home #content .post footer .entry-meta .sep {
        display: none
    }

    .single-post .home #content .post footer .entry-meta {
        display: none
    }

    .home #content .post .comments-link {
        display: none
    }
}

.wcorg-organizers .wcorg-organizer {
    clear: both;
    padding: 30px 0;
    border-bottom: 2px solid #F9F9F9
}

.wcorg-organizers h2 {
    margin: 0 0 15px
}

.wcorg-organizers .avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px
}

@media (min-width: 400px) {
    .wcorg-organizers .wcorg-organizer {
        margin-left:130px
    }

    .wcorg-organizers .wcorg-organizer-description {
        min-height: 70px
    }

    .wcorg-organizers .wcorg-organizer-description .avatar {
        float: left;
        margin-top: -30px;
        margin-left: -130px;
        margin-bottom: 0
    }
}

.wcorg-organizers:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both
}

.tix_tickets_table thead th,.tix-ticket-form thead th {
    padding-bottom: 15px
}

.tix_tickets_table .tix-column-remaining,.tix-ticket-form .tix-column-remaining {
    display: none
}

.tix_tickets_table .tix-column-quantity,.tix-ticket-form .tix-column-quantity {
    text-align: right
}

.tix_tickets_table .tix-row-coupon td,.tix-ticket-form .tix-row-coupon td {
    padding-top: 15px
}

.tix_tickets_table #tix-coupon-input,.tix-ticket-form #tix-coupon-input {
    float: left;
    margin-right: -5px;
    padding: 16px 30px 17px;
    width: calc(100% - 185px);
    border-radius: 3px 0 0 3px
}

.tix_tickets_table #tix-coupon-container input[type="submit"],.tix-ticket-form #tix-coupon-container input[type="submit"] {
    width: 188px
}

.tix-attendee-form th,.tix-attendee-form td {
    padding-bottom: 20px
}

.tix-attendee-form .tix-right {
    padding-left: 8px
}

.tix-attendee-form .tix-right label {
    font-weight: 400
}

.tix-attendee-form .tix-right label input {
    margin-right: 5px
}

.tix-attendee-form .tix-right br {
    display: none
}

.tix-attendee-form .tix-right textarea {
    width: 100%;
    height: 200px;
    resize: vertical
}

#comments {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 720px
}

.comments-title,.comment-reply-title {
    margin: 40px 0;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.32143
}

.logged-in-as {
    font-size: 14px;
    font-size: 1.4rem
}

.commentlist {
    list-style: none;
    margin: 0
}

.commentlist .children {
    list-style: none;
    margin: 0 0 0 20px
}

.commentlist article .comment {
    margin-bottom: 40px
}

.commentlist article .comment .avatar {
    margin-right: 10px
}

.commentlist article .comment .comment-meta {
    text-align: right;
    font-size: 14px;
    font-size: 1.4rem
}

.site-info {
    clear: both;
    padding: 30px 0;
    text-align: center;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-size: 1.4rem
}

.site-info a {
    color: rgba(40,51,120,0.5) !important
}

.site-info .site-info-generator {
    padding-right: 5px;
    border-right: 2px solid rgba(65,68,83,0.3)
}
